body {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #f3f3f3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* STYLES */

.logo-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@media (max-width: 500px) {
  .logo-image {
    margin: 0.5rem 0 0 1.5rem;
    width: 65px;
    height: 65px;
    cursor: pointer;
  }
}

.moon {
  width: 70%;
  height: 70%;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

li {
  list-style-type: none;
  color: #000;
}

li:hover {
  color: #049357;
}

/* // FOOTER */

footer {
  display: grid;
  align-content: center;
  height: 400px;
}
